#contacts {
  z-index: 0;
  left: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 150px;
}
.app {
  z-index: 4;
  box-sizing: content-box;
  position: relative;
  text-align: center;
  display: inline-block;
  width: 90px;
  height: 90px;
  margin: 100px;
}
#contact_hover {
  width: 90px;
  transition: 0.5s ease-out;
}
#contact_hover:hover {
  transition: 0.5s ease-in;
  transform: scale(2);
  height: auto;
}
